<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile="rails.log" startupTimeLimit="20" processPath="C:\Ruby24-x64\bin\ruby.exe"
                  arguments="&quot;C:\Ruby24-x64\bin\rails&quot; server -p %HTTP_PLATFORM_PORT% -b 127.0.0.1">
            <environmentVariables>
                <environmentVariable name="RAILS_ENV" value="development"/>
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>